.btn-main, .btn-main-s {
  padding: 0.25rem 1.5rem;
  border-radius: 0.25rem;
  color: white;
  background-color: #0075FF;
  border: solid 1px #0075FF; }
  .btn-main:hover, .btn-main-s:hover {
    background-color: white;
    color: #0075FF; }
  .btn-main-s {
    font-size: 0.75rem;
    padding: 0.1rem 1rem; }

.btn-sec, .btn-sec-s {
  padding: 0.25rem 1.5rem;
  border-radius: 0.25rem;
  color: black;
  background-color: transparent;
  border: none; }
  .btn-sec:hover, .btn-sec-s:hover {
    color: #888; }
  .btn-sec-s {
    font-size: 0.75rem;
    padding: 0.1rem 1rem; }

.main-menu {
  margin-bottom: 0; }
  .main-menu li {
    display: inline;
    font-size: 0.75rem;
    list-style: none;
    margin-right: 1rem; }
    .main-menu li a {
      color: #000;
      text-decoration: none; }
      .main-menu li a:hover {
        text-decoration: underline; }

.icon-sm i {
  font-size: 0.75rem;
  color: #0075FF;
  padding: 0.2rem 0.3rem;
  border-radius: 50%;
  box-shadow: 0 0 10px #00000055;
  margin: 0.75rem; }

.benefit {
  display: flex;
  flex-direction: column;
  text-align: center; }
  .benefit i {
    color: #0075FF;
    font-size: 6rem; }
  .benefit .description .tittle {
    font-size: 1rem; }
  .benefit .description .text {
    color: #888;
    font-weight: 600;
    font-size: 0.8rem; }
  .benefit .cta {
    color: #0075FF;
    font-weight: 600;
    font-size: 0.9rem;
    margin-top: 3rem; }

.icon-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .icon-desc .icon {
    color: #0075FF;
    font-size: 8rem;
    padding: 0; }
  .icon-desc .tittle {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: -1.5rem; }

@use "componentes";
html {
  min-width: 100vw; }

body {
  min-height: 100%;
  max-width: 100vw;
  margin: 0;
  padding: 0; }

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 3rem;
  border-bottom: solid 1px #c5c1c1; }

.logo img {
  max-width: 7rem; }

.sec-home {
  max-width: 992px;
  width: 100%;
  padding: 5rem;
  margin: auto;
  display: flex;
  align-items: center; }
  .sec-home .home-cta {
    flex: 1; }
    .sec-home .home-cta .cta-text {
      color: #0075FF;
      font-size: 0.75rem; }
    .sec-home .home-cta .home-description {
      max-width: 300px; }
    .sec-home .home-cta .home-text {
      font-size: 3rem;
      max-width: 300px; }
    .sec-home .home-cta .lead-magnet .input-col {
      max-width: 300px; }

.sec-features, .sec-benefits, .sec-onboarding {
  max-width: 992px;
  width: 100%;
  padding: 5rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .sec-features .intro, .sec-benefits .intro, .sec-onboarding .intro, .sec-features .sec-benefits, .sec-benefits .sec-benefits, .sec-onboarding .sec-benefits, .sec-features .sec-onboarding, .sec-benefits .sec-onboarding, .sec-onboarding .sec-onboarding {
    text-align: center; }
    .sec-features .intro h3, .sec-benefits .intro h3, .sec-onboarding .intro h3, .sec-features .sec-benefits h3, .sec-benefits .sec-benefits h3, .sec-onboarding .sec-benefits h3, .sec-features .sec-onboarding h3, .sec-benefits .sec-onboarding h3, .sec-onboarding .sec-onboarding h3 {
      font-size: 2rem; }
    .sec-features .intro p, .sec-benefits .intro p, .sec-onboarding .intro p, .sec-features .sec-benefits p, .sec-benefits .sec-benefits p, .sec-onboarding .sec-benefits p, .sec-features .sec-onboarding p, .sec-benefits .sec-onboarding p, .sec-onboarding .sec-onboarding p {
      font-size: 1rem;
      color: #888; }
  .sec-features .features, .sec-benefits .features, .sec-onboarding .features {
    display: flex;
    gap: 1rem;
    align-items: center; }
    .sec-features .features .text, .sec-benefits .features .text, .sec-onboarding .features .text {
      flex: 1;
      padding: 2rem 0; }
      .sec-features .features .text .feature, .sec-benefits .features .text .feature, .sec-onboarding .features .text .feature {
        display: flex;
        flex-direction: row;
        align-items: center; }
        .sec-features .features .text .feature .description, .sec-benefits .features .text .feature .description, .sec-onboarding .features .text .feature .description {
          margin-left: 1rem; }
          .sec-features .features .text .feature .description .tittle, .sec-benefits .features .text .feature .description .tittle, .sec-onboarding .features .text .feature .description .tittle {
            font-size: 1rem; }
          .sec-features .features .text .feature .description .description-text, .sec-benefits .features .text .feature .description .description-text, .sec-onboarding .features .text .feature .description .description-text {
            font-size: 0.8rem; }
    .sec-features .features .image, .sec-benefits .features .image, .sec-onboarding .features .image {
      max-width: 60%; }
      .sec-features .features .image .img, .sec-benefits .features .image .img, .sec-onboarding .features .image .img {
        max-width: 100%; }

.sec-benefits .benefit-card {
  width: 100%; }

.sec-kpis {
  background-color: #0075FF;
  color: white;
  padding: 4rem;
  width: 100%; }
  .sec-kpis .kpi {
    display: flex;
    flex-direction: column;
    text-align: center; }
    .sec-kpis .kpi .number {
      font-size: 3.5rem;
      font-weight: 600; }
    .sec-kpis .kpi .desc {
      font-size: 1rem;
      color: #ffffffaa; }

.sec-onboarding {
  width: 100%; }
  .sec-onboarding .steps {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 6rem 5rem 6rem; }
    .sec-onboarding .steps .step-separator {
      flex: 1;
      border-top: solid 3px #9a9999;
      margin: 0 1rem; }

.sec-footer-cta {
  background-color: #F4F7FE;
  background-image: url(../assets/img/bg\ 1.png);
  background-repeat: no-repeat;
  background-position: 100%;
  padding: 5rem; }
  .sec-footer-cta .footer-cta {
    width: 50%; }
    .sec-footer-cta .footer-cta .cta-tittle {
      font-size: 2rem; }
    .sec-footer-cta .footer-cta .cta-text {
      font-size: 0.9rem;
      color: #888; }

@media (max-width: 768px) {
  .sec-home {
    padding: 1rem;
    flex-direction: column; }
    .sec-home .home-cta {
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center; }
    .sec-home .lead-magnet {
      display: flex;
      flex-direction: column;
      margin-top: 1rem; }
      .sec-home .lead-magnet .btn-main, .sec-home .lead-magnet .btn-main-s {
        margin-top: 1rem; }

  .sec-benefits {
    padding: 1rem; }

  .sec-features, .sec-benefits, .sec-onboarding {
    padding: 1rem; }

  .sec-onboarding {
    padding: 1rem; }
    .sec-onboarding .steps {
      flex-direction: column; }
      .sec-onboarding .steps .icon-desc .tittle {
        text-align: center; }

  .sec-footer-cta .footer-cta {
    width: auto; } }

/*# sourceMappingURL=styles.css.map */
